body {
	color: #839496;
	background-color: #002a35;
	font-family: Verdana, serif;
}

h1 {
	color: #cb4b16;
	font-size: 2rem;
	font-weight: normal;
}

h2 {
	font-size: 1rem;
	font-weight: normal;
}

h3 {
	font-size: 1rem;
	display: inline;
	font-weight: normal;
}

h1::before {
	content: "# ";
	color: #859900;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	color: #859900;
}

ul a {
	color: #cb4b16;
}

time {
	color: #859900;
	}

.home {
	width: 500px;
	margin: 0 auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

.timestamp {
	display: inline;
	font-size: 0.75rem;
	color: #839496;
}

.blogentryheader {
	display: inline;
}

.entry-title::before {
	content: "➜ ";
	color: #859900;
	}

.entry-title {
	display: inline;
	color: #cb4b16;
	font-size: 1.1rem;
	}

@media only screen and (max-width: 750px) {
	#page {
		width: inherit;
		padding-left: 10%;
		padding-right: 10%;
		}
	#titlename {
		font-size: 1.2rem;
		}
}

