{% extends "base.html" %}
{% block content %}
<section id="content">
{% block menu %}
{% block menu_title %}
<h2>Links</h2>
{% endblock %}
<nav id="menu">
<ul>
{% if DISPLAY_PAGES_ON_MENU %}
   {% for p in pages %}
       <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
   {% endfor %}
{% endif %}
        </ul></nav><!-- /#menu -->
{% endblock menu %}
{% block content_title %}
<h2>Blog</h2>
{% endblock %}
<ul id="post-list">
{% for article in articles_page.object_list %}
        <li><article class="hentry">
                <header> <h3 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
<footer><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></footer>
        </article></li>
{% endfor %}
</ol><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
